**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/SQL)**

---

# Intro

Queries with **GROUP BY** can be powerful. There are many small things that can trip you up (like the order of the clauses), but it will start to feel natural once you've done it a few times. Here, you'll continue write queries using **GROUP BY** to continue answering questions from the Hacker News dataset.

Before you get started, run the following cell to set everything up:

In [8]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex3 import *

# import package with helper functions 
import bq_helper

# create a helper object for this dataset
hacker_news = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="hacker_news")

# print the first couple rows of the "comments" table
hacker_news.head("comments")

WARNING:root:Ignoring repeated attempt to bind to globals

Using Kaggle's public dataset BigQuery integration.

         id  by author        time   ...      parent deleted  dead ranking
0   2701393  5l     5l  1309184881   ...     2701243    None  None       0
1   5811403  99     99  1370234048   ...     5804452    None  None       0
2     21623  AF     AF  1178992400   ...       21611    None  None       0
3  10159727  EA     EA  1441206574   ...    10159396    None  None       0
4   2988424  Iv     Iv  1315853580   ...     2988179    None  None       0

[5 rows x 10 columns]

# Question
Using the Hacker News dataset in BigQuery, answer the following questions:

#### 1) Hacker News would like to send awards to everyone who has written more than 10,000 posts. Write a query that returns all authors with more than 10,000 posts as well as their post counts. Call the column with post counts NumPosts.

In case sample query is helpful, here is a query you saw in the tutorial to answer a similar question:
```
query = """SELECT parent, COUNT(id) NumPosts
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY parent
            HAVING COUNT(id) > 10
        """
popular_stories = hacker_news.query_to_pandas_safe(query)
```

In [9]:
# Your Code Here

prolific_commenters_query = """SELECT author, COUNT(id) NumPosts
            FROM `bigquery-public-data.hacker_news.comments`
            GROUP BY author
            HAVING COUNT(id) > 10000
        """


prolific_commenters = hacker_news.query_to_pandas_safe(prolific_commenters_query)
print(prolific_commenters)

q_1.check()

          author  NumPosts
0            eru     10448
1        rbanffy     10557
2   dragonwriter     10723
3           None    227736
4          DanBC     12902
5          sp332     10882
6         davidw     10764
7        rayiner     11080
8        tptacek     33839
9       jacquesm     21107
10      jrockway     13626
11     anigbrowl     11395
12    stcredzero     10092

Incorrect: Incorrect value for `prolific_commenters`

In [ ]:
 q_1.solution()

#### 2) How many comments have been deleted? (If a comment was deleted the "deleted" column in the comments table will have the value 'True'.)

In [15]:
# Write your query here and figure out the answer
query = """SELECT COUNT(id) num_del
            FROM `bigquery-public-data.hacker_news.comments`
            WHERE deleted = True
        """
deleted_comments = hacker_news.query_to_pandas_safe(query)
print(deleted_comments)

   num_del
0   227736

In [16]:
# Submit the answer by setting the following value
num_deleted_posts = 227736

q_2.check()

Correct

In [11]:
 q_2.solution()

Solution:
```python

deleted_posts_query = """SELECT COUNT(id) num_deleted_posts
            FROM `bigquery-public-data.hacker_news.comments`
            WHERE deleted = True
        """
deleted_posts_results = hacker_news.query_to_pandas_safe(deleted_posts_query)
num_deleted_posts = 227736

```

---

# Keep Going
**[Click here](https://www.kaggle.com/dansbecker/order-by)** to move on and learn about the ORDER BY clause.

---
**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/SQL)**